
.App-logo {
  height: 14vh;
  pointer-events: none;
}

.App-logo-wrapper {
  height: 14vh;
}

/* .T-under-logo {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: "Andika";
  font-weight: 700;
  padding: 1vw 1vh;
} */

.bold {
  font-weight: 700;
}

.pitch-wrapper {
  margin: 10vh 25vw;
  text-align: left;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  display: flex;
  align-items: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu-wrapper {
  display: flex;
  margin-left: 30vw;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: white;
  background-color: #333;
  text-decoration: none;
  padding: 2vw;
}

.App-link:hover{
  color: #333;
  background-color: #febd57;
  transition: .5s;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
